@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?61712919');
  src: url('font/fontello.eot?61712919#iefix') format('embedded-opentype'),
       url('font/fontello.woff?61712919') format('woff'),
       url('font/fontello.ttf?61712919') format('truetype'),
       url('font/fontello.svg?61712919#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('font/fontello.svg?61712919#fontello') format('svg');
  }
}
*/

 [class^="ui-icon-"]:before, [class*=" ui-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  color: #fff;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ui-icon:hover:before {
  opacity: .8;
  text-shadow: 0px 0px 4px #444;
}

.ui-icon-volume-on:before { content: '\e803'; } /* '' */
.ui-icon-volume-off:before { content: '\e801'; } /* '' */
.ui-icon-play:before { content: '\e800'; } /* '' */
.ui-icon-pause:before { content: '\e804'; } /* '' */