* {
  padding: 0;
  margin: 0;
  font-size: 24px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

body,
html {
  font-family: 'PTSansNarrowRegular', sans-serif;
  background-color: #F2F2F2;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  color: #2E3744;
}

h2 {
  margin-bottom: 10px;
  font-family: arial, sans-serif;
  font-size: 20px !important;
  padding: 2% 0;
  border-bottom: 1px solid white;
}


header {
  height: 25px;
  display: block;
  background-color: #2E3744;
  padding: 10px;
  color: white !important;
  font-size: 24px;
}

header span.game-type {
  margin-left: 50px;
  position: relative;
  bottom: 3px;
}

header h1 {
  float: right;
  color: white;
}

.fancybox-inner p,
.fancybox-inner h1,
.fancybox-inner h2 {
  color: black !important;
}

.input {
  padding: 10px 0 0 0;
  position: relative;
}

input:focus {
  background-color: #fdfdfd;
}

.container {
  width: 1000px;
  height: 90%;
  margin: 0 auto;
  padding-top: 20px;
  display: none;
}


header {
  display: none;
}

.player {
  width: 275px;
  height: 90%;
  float: left;
  padding: 20px;
  border: 1px solid #EDEDED;
  background: #fff;
  -webkit-box-shadow: 0px 0px 1px #999;
  -moz-box-shadow:    0px 0px 1px #999;
  box-shadow:         0px 0px 1px #999;
  margin-right: 20px;
}

.middle_console {
  float: left;
  width: 326px;
}

.scoreboard,
.middle_console article {
  background: #fff;
  -webkit-box-shadow: 0px 0px 1px #999;
  -moz-box-shadow:    0px 0px 1px #999;
  box-shadow:         0px 0px 1px #999;
  margin-bottom: 20px;
}

#article {
  width: 760px;
  margin: 0 auto;
  background: transparent;
  padding: 20px;
  color: white;
  /* Firefox */
  -moz-transition: all 0.5s ease-in;
  /* WebKit */
  -webkit-transition: all 0.5s ease-in;
  /* Opera */
  -o-transition: all 0.5s ease-in;
  /* Standard */
  transition: all 0.5s ease-in;
}
#article p {
  font-size: 18px !important;
}
#article:hover {
  box-model: padding-box;
  border: 1px solid #EDEDED;
  -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.75);
  border-radius: 2px;
  background: white;
  color: black;
  /* Firefox */
  -moz-transition: all 0.5s ease-in;
  /* WebKit */
  -webkit-transition: all 0.5s ease-in;
  /* Opera */
  -o-transition: all 0.5s ease-in;
  /* Standard */
  transition: all 0.5s ease-in;
}
#home {
  margin-top: 50px;
}

.middle_console article p {
  padding: 2px 5px;
}

.middle_console thead,
.middle_console h2 {
  margin: -1px;
  padding: 10px 5px;
  background-color: #9EA8B2;
  color: white;
  text-transform: uppercase;
}

.name {
  text-transform: uppercase;
  padding: 10px;
  display: block;
  font-size: 24px;
  background-color: #9EA8B2;
  margin: -21px;
  margin-bottom: 20px;
  color: white;
}

.name,
.name_player_1,
.name_player_2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.score_input {
  background-color: #E8E8E8;
  padding: 0 0 0 10px;
  width: 260px;
  height: 27px;
  font-size: 14px;
  outline: none;
  border: 1.5px solid #BCBCBC;
  box-shadow: inset 0 20px 20px -20px #D3D3D3;
}

ul.score_table {
  display: block;
  width: 275px;
  max-height: 80%;
  overflow: hidden;
}

ul.score_table li,
.head,
.scores_player_1,
tr.player_1 {
  border-bottom: 1px solid #D3D3D3;
}

ul.score_table li:last-child {
  border: none;
  opacity: 1;
}

ul.score_table li span {
  float: left;
  width: 45%;
}
.head span {
  float: left;
  width: 50%;
}
ul.score_table li span.delete {
  width: 10%;
}

span.left,
span.done,
.left-column {
  text-align: right;
  font-size: 24px;
  padding: 10px 0;
}

span.score {
  text-align: left;
  padding: 10px 0;
  font-size: 20px;
}

table {
  width: 100%;
  text-transform: uppercase;
  margin-top: -1px;
  table-layout: fixed;
}

table td,
table th {
  text-align: left;
  padding: 14px 10px;
}

.version {
  padding: 10px;
}

.version,
#version  {
  text-decoration: none;
  color: #fff;
}

.menu img {
  width: 65%;
}

p,
#version {
  margin: 15px 0 10px;
  font-size: 15px !important;
}

/* Messages */
.notice {
  margin: 20px auto;
  display: block;
  color: #84BC7B;
  outline: none;
  border: none;
  font-size: 20px;
  text-align: center;
}

li.error {
  color: red;
}

.submit_button {
  cursor: pointer;
  position: absolute;
  right: 4px;
  font-size: 20px;
  top: 11px;
}

.submit_button img {
  border-left: 1px solid #BCBCBC;
}

#settings {
  overflow: hidden;
}


#settings label {
  display: block;
  padding-bottom: 4px;
}

#settings label,
#settings span#submit-names {
  color: #333;
}

#settings span#submit-names {
  background: #e3e3e3;
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  padding: 10px 0 4px;
  text-align: center;
  margin-right: 2px;
  height: 18px;
  width: 248px;
  display: block;
}

#settings span#submit-names:hover {
  cursor: pointer;
}

.close {
  margin-right: 10px;
  width: 100px;
  float: right;
  margin-top: 20px;
}

#settings input {
  outline: none;
  padding: 4px 5px;
  border: 1px solid #bbb;
  box-shadow: inset 0 20px 20px -20px #D3D3D3;
  color: #333;
  width: 240px;
}

#settings span {
  float: right;
}

.error {
  position: absolute;
  top: 17px;
  left: 4%;
  opacity: .8;
  text-align: left;
}

select {
  color: black;
}

.input-wrapper {
  margin-bottom: 1em;
}

.select-wrapper select {
  background: transparent;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 22px;
  -webkit-appearance: none;
  outline: none;
  width:255px;
}

.select-wrapper {
  height: 20px;
  overflow: hidden;
  font-size: 14px;
  outline: none;
  border: 1.5px solid #BCBCBC;
  padding: 2%;
  box-shadow: inset 0 20px 20px -20px #D3D3D3;
  background: url(images/arrow_expanded.png) 95% 60% no-repeat #fff;
}

.settings ul {
  margin-bottom: 5%;
}

.settings li {
  margin: 2% 0;
}

.settings li a {
  font-size: 14px !important;
}

#pageslide {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 235px;
  background-color: #9EA8B2;
}

a.ps_trigger {
  text-decoration: none;
}

#pageslide ,
#modal header {
  -webkit-box-shadow: inset -5px 0px 5px -7px #000;
  color: white !important;
  font-size: 24px;
}

#modal header {
  padding-left: 20px;
}

.menu a {
  text-decoration: none !important;
  display: block;
  color: #fff;
  padding: 12px 20px;
  font-size: 20px;
  border-bottom: 1px solid #d1d1d1;
  border-top: 1px solid  #999;
  -webkit-transition-property: background;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: ease-in;
}

#clear {
  border-top: 0;
}

.menu a:hover {
  background-color: #2E3744;
}

.version,
#version {
  display: inline-block;
}

#modal a {
  cursor: pointer;
}

.focussed .name {
  background: #84BC7B;
}

.button {
	text-decoration:none;
	font-size: 16px;
	font-weight:bold;
	padding: 7px 12px;
	cursor:pointer;
	line-height:16px;
	display:inline-block;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: #e3e3e3 0 1px 1px;
	-moz-box-shadow:0px 1px 1px rgba(000,000,000,0.1), inset 0px 1px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:0px 1px 1px rgba(000,000,000,0.1), inset 0px 1px 1px rgba(255,255,255,0.7);
	text-shadow: 1px 1px 0px #f8f8f8;
	color: #717171;
	border: 1px solid #d3d3d3;
  background: #ededed; /*fallback for non-CSS3 browsers*/
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9) to(#ededed)); /*old webkit*/
  background: -webkit-linear-gradient(#f9f9f9, #ededed); /*new webkit*/
  background: -moz-linear-gradient(#f9f9f9, #ededed); /*gecko*/
  background: -ms-linear-gradient(#f9f9f9, #ededed); /*IE10*/
  background: -o-linear-gradient(#f9f9f9, #ededed); /*opera 11.10+*/
  background: linear-gradient(#f9f9f9, #ededed); /*future CSS3 browsers*/
}
.button:hover {
    background: #ededed; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed) to(#f9f9f9)); /*old webkit*/
    background: -webkit-linear-gradient(#ededed, #f9f9f9); /*new webkit*/
    background: -moz-linear-gradient(#ededed, #f9f9f9); /*gecko*/
    background: -ms-linear-gradient(#ededed, #f9f9f9); /*IE10*/
    background: -o-linear-gradient(#ededed, #f9f9f9); /*opera 11.10+*/
    background: linear-gradient(#ededed, #f9f9f9); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#ededed, #f9f9f9); /*PIE*/
}

/* slider */
#slider-container {
  width: 100%;
  background: url(images/bg.jpg) #9EA8B2;
  padding: 2px 0;
  margin-top: -20px;
  border-bottom: 2px solid #9EA8B2;
}

#banner-fade {
  margin: 10px auto;
  -webkit-box-shadow: 0px 0px 1px #999;
  -moz-box-shadow:    0px 0px 1px #999;
  box-shadow:         0px 0px 1px #999;
}

@media screen and (max-width: 480px) {
  header span.game-type,
  header h1 {
    font-size: 18px;
  }
  header h1 {
    margin-top: 6px;
  }
  .container,
  #article {
    width: 374px;
  }
  #article {
    padding: 2%;
    width: 94%;
  }
  .player {
    width: 140px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .player_2 {
    margin-right: 0;
  }
  ul.score_table {
    width: 140px;
  }
  .score_input {
    width: 125px;
  }
  .middle_console {
    width: 374px;
    margin: 0;
    clear: both;
    float: none;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../js/fancybox/fancybox_overlay.png);
  z-index: 1000;
  text-align: center;
  color: white;
}

#floatingCirclesG{
  margin: 50px auto;
  position:relative;
  width:200px;
  height:200px;
  -moz-transform:scale(0.6);
  -webkit-transform:scale(0.6);
  -o-transform:scale(0.6);
  -ms-transform:scale(0.6);
  transform:scale(0.6);
  z-index: 2000;
}

.f_circleG{
position:absolute;
background-color:#FFFFFF;
height:36px;
width:36px;
-moz-border-radius:18px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:0.56s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:18px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:0.56s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-o-border-radius:18px;
-o-animation-name:f_fadeG;
-o-animation-duration:0.56s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-border-radius:18px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:0.56s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
border-radius:18px;
animation-name:f_fadeG;
animation-duration:0.56s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:82px;
-moz-animation-delay:0.21s;
-webkit-animation-delay:0.21s;
-o-animation-delay:0.21s;
-ms-animation-delay:0.21s;
animation-delay:0.21s;
}

#frotateG_02{
left:24px;
top:24px;
-moz-animation-delay:0.28s;
-webkit-animation-delay:0.28s;
-o-animation-delay:0.28s;
-ms-animation-delay:0.28s;
animation-delay:0.28s;
}

#frotateG_03{
left:82px;
top:0;
-moz-animation-delay:0.35s;
-webkit-animation-delay:0.35s;
-o-animation-delay:0.35s;
-ms-animation-delay:0.35s;
animation-delay:0.35s;
}

#frotateG_04{
right:24px;
top:24px;
-moz-animation-delay:0.42s;
-webkit-animation-delay:0.42s;
-o-animation-delay:0.42s;
-ms-animation-delay:0.42s;
animation-delay:0.42s;
}

#frotateG_05{
right:0;
top:82px;
-moz-animation-delay:0.49s;
-webkit-animation-delay:0.49s;
-o-animation-delay:0.49s;
-ms-animation-delay:0.49s;
animation-delay:0.49s;
}

#frotateG_06{
right:24px;
bottom:24px;
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-o-animation-delay:0.56s;
-ms-animation-delay:0.56s;
animation-delay:0.56s;
}

#frotateG_07{
left:82px;
bottom:0;
-moz-animation-delay:0.63s;
-webkit-animation-delay:0.63s;
-o-animation-delay:0.63s;
-ms-animation-delay:0.63s;
animation-delay:0.63s;
}

#frotateG_08{
left:24px;
bottom:24px;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-o-animation-delay:0.7s;
-ms-animation-delay:0.7s;
animation-delay:0.7s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

#wrapper {
  background: transparent url(images/noise.png);
  position: absolute;
  width: 100%;
  height: 100%;
}

.ui-widget {
  opacity: .4;
  position: absolute;
  bottom:50px;
  width: 200px;
  border-radius: 2px;
  text-align: center;
  left: 10%;
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);  background: #45484d; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}
.ui-widget:hover {
  opacity: 1;
}
.video-background {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 0;
  opacity: 0.9;
}
.video-background video {
	min-height: 100%;
	min-width:100%;
  background: url(images/background.png) repeat #000;
  -webkit-filter: blur(1px);
}

.ui-video-background-controls {
  margin: 0 auto;
  text-align: center;
  clear: both;
  width: 70px;
}
.ui-video-background-controls li {
  float: left;
  padding-top: 2px;
  width: 35px;
  height: 28px;
}
.ui-icon {
  color: transparent;
  font-size: 25px;
  text-decoration: none;
  width: 1em;
}

.delete {
  padding-top: 10px;
  opacity: .2;
}
.delete:hover {
  opacity: 1;
}